body {
  font-family: Verdana, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: inline-block;
  background-color: #505050;
  padding: 20px;
  width: 600px;
}

h1 {
  font-size: 50px;
  margin-top: 20px;
}

.timer-display {
  font-size: 20px;
  margin-top: 32px;
}

.buttons {
  margin-top: 32px;
}
